.profil-stats {
    max-width: 1200px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;
}

.menu-profil {

}

.menu-profil ul {
  display: flex;
  justify-content: space-around;
}

.fav-menu {
  display: flex;
}
.fav-menu li {
  margin-right: 0.5rem;
}

.detail-game-section {
  display: flex;
}

.submit-btn-avatar {
  position: fixed;
  width: 2rem;
  height: 2rem;
  margin-left: 7.4rem;
  z-index: 0;
  background: none;
  border: none;
}

.detail-game-section-desc {
  flex-direction: column;
  display: flex;
  flex-basis: 50%;

}

.detail-game-section-elm-1 {

}

.detail-game-section-elm-2 {
  margin-left: 1rem;
}

.detail-game-section-p {
  font-size: 1.6rem;
}

.detail-game-section-plateform {
  flex-basis: 50%;
}

.detail-game-section-plateform p {
  margin-top: 56px;
  font-size: 25px;
}


.detail-game-section-plateform-elm-1 {
  flex-direction: row-reverse;
  display: flex;
}

.detail-game-section-elm2{
  margin-left: 1rem;
    margin-top: 1rem;
  font-size: 25px;
  }
  
  .detail-game-section-elm2 p{
  
  font-size: 25px;
  }

  .detail-game-section-elm2 h1{
    font-family: "Montserrat", sans-serif;
      color: #fff;
      margin-bottom: 1rem;
      font-size: 3rem;
    }

    .detail-game-main {
      max-width: 1400px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;
    }
    .img-detail-section {
      width: 30rem;
    }

    .detail-game-add-review {
      background: #7617C4;
        height: 2rem;
        color: white;
        padding: 8px 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
      }
      
      .detail-game-interaction-game {
      display: flex;
        flex-direction: column;
      }
      
      .detail-menu-game {
      display: flex;
        justify-content: space-evenly;
      }



.container-currentuser-comment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bottom-section-profil{
  margin-top: 3rem;
}

.currentuser-comment {
  padding: 10px 20px;

    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .arrow-comments {
    display: flex;
  margin-top: 5.5rem;
    z-index: 1;
    margin-left: -60px;
    font-size: 2rem;
  }
  .user-info-comment-profil {
    padding: 10px 20px;
  background: #30394C;
  border-radius: 10px;
  height: 13.2rem;
  width: 24rem;
  }

  .text-comment-quickview {
    word-break: break-all;
    margin-top: 1rem;
  }

  .container-text-comment-quickview {
    width: 20rem;
  height: 7rem;
  }

  .page-content-profile-no-data {
    height: 10rem;
    text-align: center;
  }

  .up-down-game-profil {
    margin-top: 1rem;
  width: 1rem;
  display: flex;
  font-size: 1.2rem;
  }
  .up-down-game-profil span {
    margin-right: 0.5rem;
  }

  .sous-menu {
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  }

  .sous-menu-user {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }