.connection-form {


        .form-container {
          
                text-align: left;
      
        }
    
    h3 {
      padding: 10px 0 15px;
    }
  
  
  }
  
  .titleloginform {

    h1 {
      font-size: 3rem;
      font-weight: 200;
      color: #8f9ca7;
      margin-bottom: 50px;
    }
  }

  .formlogin {
    border: none;
  }
  