

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* You just need to get this field - start */

.search-box {
  width: 350px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.space-nav-menu {
  margin-left: 1rem;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border: none;
  transition: all 0.4s;
  height: 2.5rem;
}


.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -38px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}



/* You just need to get this field - end */
  
  