@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

$imageIds: '1517021897933-0e0319cfbc28', '1533903345306-15d1c30952de', '1545243424-0ce743321e11', '1531306728370-e2ebd9d7bb99';

$bp-md: 600px;
$bp-lg: 800px;

$bp-lm: 1200px;

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}
.reviewcontent {
  display: flex;
  margin-top: 1rem;

}


.page-content-profile {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  
  font-family: var(--font-sans);

  
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(5, 1fr);
    
  }
}

// @media (min-width: $bp-md) {
//   grid-template-columns: repeat(2, 1fr);
// }
.title-elm-resp {
  display: none;
}
@media screen and (max-width: 700px) {

  #right-side-details-game {
     margin-bottom: 15rem;
  }
  .detail-game-section {
    margin-bottom: 0;
    display: flex;
  }
.space-nav-menu {
  display: none;
}
}
@media screen and (max-width: $bp-lm) {
  // .title-elm1 {
  //   display: none;
  // }
  .container-comment-form {
     width: 100%;
}
#news-article h1 {
  margin-bottom: 5rem;
  text-align: center;
}
.title-elm-resp {
  display:unset;
}
.reviewcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  .blog {
    width: 100%;
  }
  .test {
    max-width: unset;
  }

}
.left-side-img {
  margin: auto;
  margin-bottom: 100px;
}
.detail-game-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.comments-form {
  margin-left: 0;
}
.comments-list {
  margin-left: 0;
}

.review-games-details {
  width: unset;
}
  .space-nav-menu {
    display: none;
  }
  .title-news {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  nav .nav-container .log-a-game {
    display: none;
  }
  

  #profile-quickview {
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;

  }
}



.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  
  font-family: var(--font-sans);

  
  @media (min-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}


.data-card-style {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  height: 19rem;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  // @media (min-width: $bp-md) {
  //   height: 350px;
  // }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
 
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btn {

}
.btn {
  // cursor: pointer;
  // margin-top: 1.5rem;
  // padding: 0.75rem 1.5rem;
  // font-size: 0.65rem;
  // font-weight: bold;
  // letter-spacing: 0.025rem;
  // text-transform: uppercase;
  // color: white;
  // background-color: black;
  // border: none;
  
  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-md) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform var(--d) var(--e),
        opacity var(--d) var(--e);
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;

  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    p{
      word-break: break-all;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
  }
  &:hover {
    .details {
      left: 0%;
    }
  }
  @media (min-width: 140px) {
    .meta {
      flex-basis: 40%;
      height: auto;
      margin-bottom: -10px;
      // background-image: url('https://images.igdb.com/igdb/image/upload/t_cover_big/co5s5v.jpg');
      display: flex;
  justify-content: left;
  flex-direction: column;
    }
    .description {
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}


.test  {
  max-width: 436px;
  }
  .title-recent-review {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #news-article {
    h1 {
      margin-top: 20px;
    }
  }
  .blog {
    width: 60%;
  }